# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Frontend-v1/node_modules
/Frontend-v2/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/Frontend-v1/build
/Frontend-v2/build

# misc
.DS_Store
/Frontend-v1/.env.local
/Frontend-v1/.env.development.local
/Frontend-v1/.env.test.local
/Frontend-v1/.env.production.local
/Frontend-v2/.env.local
/Frontend-v2/.env.development.local
/Frontend-v2/.env.test.local
/Frontend-v2/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
