.SpecialFeature_div{
  background-color: var(--shadowColor);
  height: 20vh;
  font-size: var(--font22);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  text-align: center;
  align-items: center;
}

.feature_icons{
  font-size: var(--font48);
}

@media screen and (max-width: 650px) {

  .SpecialFeature_div{
    grid-template-columns: repeat(2, 1fr);
  }
  
}