.nav_div {
  width: 100%;
  height: 13vh;
  background-color: var(--bgColor);
  color: var(--bgColor);
  position: relative;
}

.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--bothGaps);
  background-color: var(--textColor);
  height: 8vh;
}

.logo {
  text-decoration: none;
  color: var(--bgColor);
  font-size: var(--marginLeft);
  font-weight: 700;
  font-family: var(--philosoper);
  line-height: 0;
}

.nav_main_icons {
  text-decoration: none;
  color: var(--bgColor);
  background-color: transparent;
  border: none;
  font-size: var(--font24);
}

.icons_div {
  color: var(--bgColor);
  font-size: var(--font22);
  display: flex;
  align-items: center;
}

.icon {
  margin-left: var(--font30);
}

.mega_menu {
  background-color: var(--bgColor);
  height: 5vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.mega_menu ul {
  display: flex;

  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mega_menu ul li {
  margin: 0 2.4rem;
  font-size: 1.6rem;
}

.menu {
  text-decoration: none;
  color: var(--textColor);
  font-size: var(--font16);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}

.menu:hover {
  color: var(--hoverColor);
}


/* Icon div section */
.search_nav {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 10vh;
  min-height: 10vh;
  background-color: #fff;
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
}

.search_nav input {
  width: 50%;
  border: none;
  font-size: var(--font24);
  padding: 10px;
  border-bottom: 1px solid var(--textColor);
}

.search_nav input:focus {
  outline: none;
}

.search_btn_open {
  text-decoration: none;
  font-size: var(--font18);
  text-transform: uppercase;
  padding: 15px 40px;
  background-color: var(--textColor);
  color: var(--bgColor);
}

.search_btn_open:hover{
  background-color: var(--hoverColor);
}

.search_nav.active{
  display: flex;
  z-index: 3;
}

.cross_btn{
  font-size: var(--font24);
  color: var(--textColor);
  padding-left: 20px;
}

.align_mid{
  display: flex;
}

.ml{
  margin-left: 5px;
}