.underline_style:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  background-color: var(--light2);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.underline_style:hover:after {
  width: 100%;
  left: 0;
}

.underline_style2:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  background-color: var(--dark1);
  width: 100%;
}
