.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--bgColor);
  width: 100%;
  height: 40vh;
  align-items: center;
  background-color: var(--textColor);
  text-transform: uppercase;
  line-height: 30px;
  border-top: 1px solid var(--bgColor);
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
}

.footer_links {
  text-decoration: none;
  color: var(--bgColor);
}

.footer_links:hover {
  color: var(--hoverColor);
}

.footer_input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--bgColor);
  width: 60%;
  font-size: var(--font18);
  margin: 20px 0;

}

.footer_input:placeholder {
  font-size: var(--font18);
  color: var(--bgColor);
}

.footer_input:focus{
  outline: none;
  color: var(--bgColor);
}

.footer_icons {
  display: flex;
  padding-top: 10px;
}

.footer_icons .so_icons {
  margin-right: 15px;
}

.footer_icons .so_icons:hover{
  color: var(--hoverColor);
}