.FAQ_hero{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-image: url(../../../assets/FaqHero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--bgColor);
}