.subscribe_div {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-color: var(--textColor);
  color: var(--bgColor);
  text-align: center;
}

.subscribe_div h1 {
  font-size: var(--font48);
}

.subscribe_div p{
  font-size: var(--font24);
}

.input_submit{
  background-color: var(--bgColor);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.input_submit .email_input{
  border: none;
  background-color: transparent;
  width: 80%;
  font-size: var(--font24);
}

.input_submit .email_input:focus{
  outline: none;
}

.input_submit .submit_btn{
  border: none;
  background-color: var(--textColor);
  color: var(--bgColor);
  padding: 12px 28px;
  font-size: var(--font22);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 10px;
}

.input_submit .submit_btn:hover{
  background-color: var(--hoverColor);
}