.dash_products {
  width: 100%;
  color: var(--textColor);
}

.products_table {
  border-collapse: collapse;
  width: 100%;
}

#mainSelection,
.selectAll:checked {
  height: 20px;
  width: 20px;
}

th {
  font-family: var(--helvetica_Neu);
  font-size: 1.8rem;
  line-height: 2.5rem;
  /* text-transform: uppercase; */
  display: flex;
  letter-spacing: 2px;
}

td {
  font-family: var(--roboto);
  font-size: var(--font18);
}

tr {
  display: grid;
  grid-template-columns: 4fr 1fr 2fr 4fr;
  border-bottom: 1px solid var(--textColor);
  justify-content: center;
  text-align: left;
}

.delete-dash {
  border: 1px solid var(--textColor);
  background-color: transparent;
  padding: 12px 26px;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.delete-dash:hover {
  background-color: var(--textColor);
  color: var(--bgColor);
}

.desable-btn {
  border: none;
  background-color: var(--hoverColor);
  padding: 12px 26px;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--textColor);
}

.desable-btn:hover{
  background-color: var(--textColor);
  color: var(--bgColor);
}

.products_table td,
.products_table th {
  padding: 20px;
}