.subscribe_div {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-color: var(--textColor);
  color: var(--bgColor);
  text-align: center;
}

.input_submit{
  background-color: var(--bgColor);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.input_submit .email_input{
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: var(--font24);
}

.input_submit .email_input:focus{
  outline: none;
}

.input_submit .submit_btn{
  border: none;
  background-color: var(--textColor);
  color: var(--bgColor);
  padding: 10px 24px;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 5px;
  font-family: var(--title-font);
}

.input_submit .submit_btn:hover{
  background-color: var(--hoverColor);
}