:root {

  /* All colors */
  --bgExColor: #2D4263;
  --bgColor: #ECDBBA;
  --hoverColor: #C84B31;
  --textColor: #191919;
  --shadowColor: #EFEFEF;
  --shadowColor1: #c7c7c7;

  /* font_family */
  --helvetica_Neu: 'Helvetica Neue',
    sans-serif;
  --roboto: 'roboto', sans-serif;
  --philosoper: 'Philosopher',
    sans-serif;

  /* Font Size */
  --font10: 1rem;
  --font12: 1.2rem;
  --font14: 1.4rem;
  --font16: 1.6rem;
  --font18: 1.8rem;
  --font20: 2rem;
  --font22: 2.2rem;
  --font24: 2.4rem;
  --font30: 3rem;
  --font34: 3.4rem;
  --font38: 3.8rem;
  --font48: 4.8rem;
  --font80: 8rem;


  /* paddings */
  --bothGaps: 0 8rem;

  /* margin */
  --marginLeft: 3rem;

}

/* Font_sizes */
.title2{
  font-size: var(--font34);
  font-weight: 500;
  color: var(--textColor)
}

.para2{
  font-size: var(--font18);
}

.para3{
  font-size: var(--font14);
}

.card_title{
  font-size: var(--font16);
  color: var(--textColor);
}

.card_price{
  font-size: var(--font16);
  color: var(--textColor);
  font-weight: 600;
}

/* buttons */
.btn_type1 {
  color: var(--textColor);
  text-decoration: none;
  background-color: var(--bgColor);
  text-transform: uppercase;
  padding: 1.2rem 2.8rem;
  border-radius: 1rem;
  font-family: var(--helvetica_Neu);
  font-size: var(--font20);
  font-weight: 600;
}

.btn_outline{
    color: var(--textColor);
      text-decoration: none;
      text-transform: uppercase;
      padding: 1.2rem 2.8rem;
      border-radius: 1rem;
      font-family: var(--helvetica_Neu);
      font-size: var(--font20);
    font-weight: 600;
    border: 1px solid var(--textColor);
}

.btn_outline:hover{
  background-color: var(--textColor);
  color: var(--shadowColor);
}


.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}